# MARKDOWN
## MARKDOWN 
### MARKDOWN 
#### MARKDOWN

* **point1** (Bold)
* *piont2* (itallic)
* ***point3*** (Bold and ittalic)

* Normal Text
    *sublist 1
    *sublist 2

> 1.point1
> 2.point2

* []option1
* []option2
* []option3

* ***adding link to markdown***
* Google sites -- [1]:https://sites.google.com/view/gitam-221810311024-july-2019/home
* msn site -- [2]: http://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

### Python basics 
 * Python version 3.7
 - Functional programming
 - object oriented programming 
 - scripting programming

In [60]:
print("hello,Gitam","|||",end=" ")
print("hyderabad",end="|||")
print("python programming")

hello,Gitam ||| hyderabad|||python programming

### assignment

In [61]:
n1=100 #single variable assignment
a=b=c=20 #multi line assignment of the same value
a1,b1,c1=111,222,333 #multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversations

In [62]:
a=100;
s1="Python";
s2="p"
f1=10.000001182821
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python p 10.000001182821
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [63]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [64]:
s1="108"
print(type(s1))

<class 'str'>

In [71]:
# A number is given 1234
# Digit count
a1=1234
print(len(str(a1)))
print(type(a1))

4
<class 'int'>

### reading a value -- Input function
# input("message") --string

In [77]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your nameR.Tarun Prakash Raj
R.Tarun Prakash Raj
<class 'str'>

In [81]:
n1=int(input("enter your number"))
print(n1,type(n1))

enter your number9989868575
9989868575 <class 'int'>

## Operators
* operators is a symbols is used to perform a specific kind of operations
### Arithemetic Operators
* + 
* /
* - 
* *
* %
* //
* *
   *

In [89]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) #returns coefficient in float 
print(n1%10) #returns remainder in int
print(n1//10)#returns coefficient in int
print(n1**10)#return power of number

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the arth operators
* parenthesis
* power 
* multiplication
* addition
### Left to right

In [95]:
x=1+2**3/4+5    #power division addition
print(x)

8.0

In [97]:
x=1+2**3/4*5
print(x)

11.0

### Relational operators
- ==
- !=
- Greater(>)
- Less than(<)
- Less than or equals to (<=)
- greater than (>=)

In [128]:
x=10
a1=x>15
print(a1)

False

### Logical OPerators 
## used to combine more than single condition
* and 
* or
* not

In [130]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

### Control Flow Statements
* conditional statements
* looping statements

#### if - else statement
if<br>
   boolean_condition:
   statements<br>
   else:<br>
   statements

In [151]:
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number10
even

In [171]:
# To check given number is perfectly multiple of 3 and 5?
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("it is perfectly divisible")
else:
    print("it is not perfectly divisible")

enter a number15
it is perfectly divisible

#### test given number is positive,negative or zero
n=int(input("enter the number"))
if n==0:
    print("equals to zero")
elif n>0:
    print("is a positive number")
elif n<0:
    print("is a negative number")